<%- include("partials/head.ejs") %>
<body>
    <%- include("partials/header.ejs") %>
    <div class="topic-list">
        <ul class="container">
            <% for (let i = 0; i < topics.length; i++) { %>
                <li>
                    <img src="<%= topics[i].img %>" alt="<%= topics[i].name %>">
                    <a href="/article/<%= encodeURIComponent(topics[i].name)%>">
                        <%= topics[i].name %>
                    </a>
                </li>
                <% } %>
        </ul>
    </div>
</body>
