<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <form action="/article/<%= article.id %>?_method=PUT" method="POST">
        <input type="text" name="title" placeholder="<%= article.title %>"> <br>
        <input type="text" name="content" placeholder="<%= article.content %>"> <br>
        <input type="text" name="author" placeholder="<%= article.author %>"> <br>
        <input type="text" name="topic" placeholder="<%= article.topic %>"> <br>
        <input type="submit" value="SUBMIT">
    </form>
</body>
