<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <a href="/health/<%= encodeURIComponent(article.topic) %>" class="btn">Go to Health</a>
    <a href="/article/edit/<%= article.id %>">EDIT</a>
    <h1>
        <%= article.topic %>
    </h1>

    <h2>
        <%= article.title %>
    </h2>

    <p>
        <%= article.content %>
    </p>

    <p>
        Created By: <%= article.author  %>
    </p>

    <p>
        Uploaded: <%= article.createdAt %>
    </p>
</body>
