<%- include("../partials/head.ejs") %>
<body>
    <header>    
        <%- include("../partials/header.ejs") %>
    </header>
    <h2>My Articles</h2>
    <ul class="container">
        <% for (let i = 0; i < articles.length; i++) { %>
            <li class="topic-name">
                <img src="<%= articles[i].coverImage %>" alt="cover-image" class="topic-image">
                <a href="/article/show/<%= articles[i].id %>">
                    <%= articles[i].title %>
                </a>
            </li>
            <% } %>
    </ul>

    <%- include("../partials/footer.ejs") %>
</body>
